<div class="rsvp-title">
    <h1>CONFIRMA TU ASISTENCIA</h1>
    <h3>ANTES DEL 30 DE MAYO</h3>
  </div>
  
  <section id="rsvpForm">
    <form [formGroup]="rsvpForm" (ngSubmit)="sendRsvp($event)">
      <div class="formInput">
        <label>NOMBRE Y APELLIDO</label>
        <input type="text" formControlName="nombre">
      </div>
  
      <div class="formInput">
        <label>PAREJA*</label>
        <input type="text" formControlName="nombrePareja">
      </div>
  
      <p class="info-text">
        *NOS ENCANTARÍA QUE TODOS NUESTROS SERES QUERIDOS ESTUVIERAN CON NOSOTROS EN ESTE DÍA TAN ESPECIAL, Y PARA ELLO, NUESTRAS INVITACIONES HAN SIDO CUIDADOSAMENTE PERSONALIZADAS CON EL NOMBRE DE CADA INVITADO. SI TIENES ALGUNA DUDA O PREGUNTA SOBRE TU INVITACIÓN, NO DUDES EN CONTACTARNOS.
      </p>
  
      <p class="info-text">
        ¿SON MÁS DE DOS EN VUESTRA INVITACIÓN? ¡CONFIRMA AL RESTO DE LA FAMILIA O GRUPO!
      </p>
  
      <button type="button" (click)="showMoreInputs()">AÑADIR MÁS INVITADOS</button>
  
      <ng-container *ngIf="showInputs">
        <div class="formInput">
          <label>INVITADO</label>
          <input type="text" formControlName="invitado1">
        </div>
  
        <div class="formInput">
          <label>INVITADO</label>
          <input type="text" formControlName="invitado2">
        </div>
      </ng-container>
  
      <div class="divider"></div>
  
      <div class="select">
        <label>¿CONFIRMAS ASISTENCIA?</label>
        <select formControlName="confirmacion">
          <option value="Si">SI</option>
          <option value="No">NO</option>
        </select>
      </div>
  
      <div class="select">
        <label>¿NECESITAS TRANSPORTE PARA LLEGAR?</label>
        <select formControlName="bus">
          <option value="Si">SI</option>
          <option value="No">NO</option>
        </select>
      </div>
  
      <div class="select">
        <label>REQUISITOS ALIMENTARIOS</label>
        <select formControlName="alimentacion">
          <option value="ninguno">NINGUNO</option>
          <option value="intolerancias">INTOLERANCIAS</option>
          <option value="alergias">ALERGIAS</option>
          <option value="dietaEspecia">DIETA ESPECIAL</option>
        </select>
        <textarea formControlName="comentariosAlimentacion" placeholder="Comentarios adicionales"></textarea>
      </div>
  
      <div class="formInput">
        <label>¿QUIERES MANDARNOS ALGUNA CANCIÓN PARA LA FIESTA?</label>
        <input type="text" formControlName="cancion">
      </div>
  
      <div class="formInput">
        <label>¿QUIERES RECIBIR COPIA DE LA CONFIRMACIÓN POR EMAIL?</label>
        <input type="text" formControlName="mail">
      </div>
  
      <button type="submit" [disabled]="rsvpForm.invalid">ENVIAR CONFIRMACIÓN</button>
    </form>
  </section>
  