<audio autoplay loop id="audio-player">
    <source src="assets/songs/reiksong.mp3" type="audio/mp3" />
</audio>
  
  <app-header class="header" [ngClass]="{ 'hidden-header': !showHeader }"></app-header>
  
  <section id="landing-page">
    <div class="landing-title">
      <h1>BLAN & FABRI</h1>
      <h2>NOS CASAMOS - 05 / 09 / 2025</h2>
    </div>
    <div class="countdown">
      <app-countdown></app-countdown>
      <button id="save" [routerLink]="[]" fragment="rsvp-page">SAVE THE DATE</button>
    </div>
  </section>
  
  <section id="our-love-story" *ngIf="contentLoaded()">
    <div id="carousel-container">
      <app-carousel></app-carousel>
    </div>
    <div id="ourLove-container">
      <h2>NUESTRA HISTORIA</h2>
      <p>Acá va un texto sobre la historia, algo que quiero decirle a los invitaods y esas cosas</p>
    </div>
  </section>
  
  <section id="when-where" *ngIf="contentLoaded()">
    <div id="whenInfo-container">
      <h2 id="lugar-h2">LUGAR</h2>
      <p>NOS CASAMOS EN UN LUGAR MÁGICO QUE NOS MARCÓ DESDE EL PRINCIPIO...</p>
      <app-google-maps id="maps"></app-google-maps>
    </div>
  
    <div class="map-container">
      <h2>COMO LLEGAR</h2>
      <div class="divider"></div>
      <h2>EN AUTO</h2>
      <p>Habrá parking disponible en la entrada del recinto.</p>
    </div>
  </section>
  
  <section id="rsvp-page">
    <app-rsvp-form></app-rsvp-form>
  </section>
  